body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


section {
  width: 1000px;
  margin: 0 auto;
  padding: 100px 50px;
  background-color: indigo;
  color: white;
  font-size: 16px;
}
